.service-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.service-img-center {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
 